:root {
    --title-color: #322153;
    /* Aplica essas caracteristicas a todo o conteudo do site, com a var(--title-color) */
    --primary-color: #34cb79;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f0f0f5;
    -wekkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

/* BOX MODEL 
Toda caixa tem altura, espaçamento, largura, preenchimento, bordas,
cor, fundo, posicionamento, alinhamento, maneira que é vista pelo html (display)

*/


/* Definindo as caracteristicas dos objetos em footer que é o rodapé do site. Devido os objetos em section e em aside
estar flutuando um a esquerda e outro a direito, isso faz o footer ficar deslocado dentro do site, por isso precisamos
limpar toda essa divisão que foi feita para ele ficar na possição correta */
footer#rodape {

    clear: both;
    /* Define a limpeza dos dois lados para o footer, retirando ele do bloco e assim ele aparecer
     na possição abaixo dos dois blocos asection e aside */
    border-top: 1px solid #ccc5c5;
    /* Define uma linha no topo do footer, solida de cor cinza */


}

/* Defindo as caracteristicas dos objetos dentro do footer que são (p) paragrafos */
footer#rodape p {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    /* Define que o texto (p) ficará centralizado no rodapé */
}
