:root {
    --title-color: #322153; /* Aplica essas caracteristicas a todo o conteudo do site, com a var(--title-color) */
    --primary-color: #34cb79;

}

* {
    margin: 0;
    padding: 0;

}

html {
            font-family: 'Roboto', sans-serif;
}

body {
    background: #f0f0f5;
    -wekkit-font-smoothing: antialiased; 
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

/* BOX MODEL 
Toda caixa tem altura, espaçamento, largura, preenchimento, bordas,
cor, fundo, posicionamento, alinhamento, maneira que é vista pelo html (display)

*/
